
@font-face {
    font-family: 'Ikaro';
    src: url('ikaros-regular-webfont.woff2') format('woff2'),
         url('ikaros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, h1{
    font-family: Quantico;
    }
header{
    text-align: center;
    font-family: Ikaro; 
    font-size: 32px;
}

main{
    padding-left: 150px;
    padding-right:150px;   
}

.legacy{
    height: 150px;
    width: 500px;
    background-color: #23272A ;
    margin-inline-start: 500px;
    margin-block-start: 50px;
    border-radius: 15px;
    text-align: center;
    color: white;
}
 
