.temp{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: 100px;
 grid-gap: 40px;
 margin-left:225px;
}

.mar, .april, .may{
  height: 150px;
  width: 150px;
  padding:5px;
  background-color: #F5322B;
  border: 1px solid #F5322B;
  text-align: center;
}

body{
 background-color:#DCD0D0;
  font-family: "Yanone Kaffeesatz";
  margin-right: 150px;
}

.march{
  object-fit: cover;
}

img{
  height:150px;
  width: 150px;
}
